@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");

* {
    --main-color: aquamarine;
    --error-color: rgb(235, 85, 85);
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    background: none;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: white;
    font-family: "Poppins", sans-serif;
    scrollbar-width: none;
}

body {
    background-image: linear-gradient(
        var(--main-color),
        rgba(127, 255, 212, 0.75)
    );
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.logo {
    position: absolute;
    top: 1rem;
    left: 2rem;
    width: 75px;
    height: 75px;
}

.logout-button {
    position: absolute;
    top: 2.25rem;
    right: 2rem;
    color: var(--error-color);
    border: 1px solid var(--error-color);
    border-radius: 25px;
    padding: 2.5px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.3s;
}

.logout-button:hover {
    background: var(--error-color);
    color: black;
}

.account {
    width: 100%;
    height: 100%;
    margin-top: 15vh;
    padding: 2rem 2rem 1.5rem 2rem;
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 10px;
    box-shadow: 0 0 35px 5px black;
    width: 400px;
}

.account-image-container {
    margin-bottom: 1rem;
    text-align: center;
    position: relative;
}

.account-image {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    object-fit: cover;
}

.account-image-container i {
    padding: 5.5px;
    position: absolute;
    top: 0;
    right: 115px;
    background: rgba(50, 50, 50, 0.9);
    border-radius: 100%;
    border: 0.75px solid whitesmoke;
}

.account-image-container i:hover {
    background: var(--main-color);
    border-color: var(--main-color);
    color: black;
    cursor: pointer;
    transition: 0.2s;
}

.account-details {
    text-align: center;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid var(--main-color);
}

#image{
    margin-bottom: 2rem;
    border-bottom: 1px solid var(--main-color);
}

.transfers-container {
    overflow: scroll;
    padding: 10px;
    margin-top: 1rem;
    height: 40vh;
    border: 1px solid var(--main-color);
    border-radius: 5px;
    text-align: center;
}

.transfer {
    padding: 10px;
    text-align: left;
}

.transfer-title {
    font-size: 14px;
}

.transfer-value-src {
    font-size: 14px;
    color: var(--error-color);
}

.transfer-value-dst {
    font-size: 14px;
    color: var(--main-color);
}

.transfer-date {
    font-size: 14px;
}

.transfer-description {
    font-size: 12px;
    font-style: italic;
}

.form-title {
    text-align: center;
    font-size: 1.2rem;
}

.form-subtitle {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.8);
}

.form-input-container {
    margin-bottom: 1rem;
}

.div-img-input {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.div-img-input i {
    padding: 5.5px;
    top: 0;
    right: 115px;
    background: rgba(50, 50, 50, 0.9);
    border-radius: 100%;
    border: 0.75px solid whitesmoke;
}

.div-img-input i:hover {
    background: var(--main-color);
    border-color: var(--main-color);
    color: black;
    cursor: pointer;
    transition: 0.2s;
}

.form-input {
    display: block;
    width: 100%;
    padding: 0.5rem;
    border-bottom: 0.1px dotted white;
    font-size: 1rem;
}

input::file-selector-button {
    padding: 7.5px;
    margin-right: 10px;
    color: whitesmoke;
    background: rgba(50, 50, 50, 0.9);
    border-radius: 5px;
    border: 0.75px solid whitesmoke;
}

input::file-selector-button:hover {
    background: var(--main-color);
    border-color: var(--main-color);
    color: black;
    cursor: pointer;
    transition: 0.2s;
}

.form-input-success {
    border-color: var(--main-color);
}

.form-input-error {
    border-color: var(--error-color);
}

.input-error-msg {
    margin-top: 0.1rem;
    font-size: 0.8rem;
    color: var(--error-color);
}

.form-button {
    width: 100%;
    margin-bottom: 1rem;
    padding: 1rem 0;
    font-size: 0.8rem;
    border: 1px solid white;
    border-radius: 2.5px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
}

.form-button:hover {
    background: var(--main-color);
    border-color: var(--main-color);
    color: black;
}

.form-button.delete {
    color: var(--error-color);
    border: 1px solid var(--error-color);
}

.form-button.delete:hover  {
    background: var(--error-color);
    color: black;
}

.form-error-msg {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 0.85rem;
    color: var(--error-color);
}

.form-link {
    text-align: center;
    color: var(--main-color);
    font-size: 0.8rem;
    margin-top: 0.35rem;
    cursor: pointer;
    transition: 0.3s;
}

.form-link:hover {
    color: white;
}

.otp-img-container {
    text-align: center;
}

.otp-img {
    max-width: 250px;
    margin-bottom: 1rem;
    text-align: center;
}
